<div class="modal-header">
	<h4 class="modal-title" id="myLargeModelLabel">Prenez le temps de lire</h4>
</div><!-- modal-header -->
<div class="modal-body">
	<p>Chers collègues,<br>Ce site est hebergé sur internet et il est donc soumis à d'éventuelles attaques, tentatives de piratages ou autres malveillances en tous genres.</p>
	<p>Je suis bien conscient qu'il est impossible de se protéger de toutes les attaques et je vous demande donc de prendre les précautions suivantes afin qu'en cas de piratage, il n'y ait aucune information d'exploitable.</p>
	<p>Voici donc les précautions à prendre:</p>
	<ul>
		<li>Utilisez une adresse email qui ne contient pas votre nom/prénom sur votre compte père mut'.<br>Si vous avez donné une adresse de ce genre pour vous inscrire, changez là dans votre profil par une autre de type "pseudo@domaine.com" c'est très facile de se créer une nouvelle adresse email et ainsi votre nom et prénom ne sont pas exposés ni sauvegardé en base de données.</li>
		<li>Si le père mut vous trouve un permutant, vous aurez accès à son adresse mail pour le contacter. Assurez-vous à l'occasion de vos premiers échanges que vous ayez bien à faire à un fonctionnaire de police, posez vous des questions techniques sur le métier pour confondre d'éventuels imposteurs.</li>
		<li>Je fais en sorte que le site ne soit pas référencé par les moteurs de recherche, ce qui limite grandement l'accès au tout venant. Evitez de diffuser l'adresse du site sur des forums publics. Le bouche à oreille est la meilleure des méthodes pour communiquer.</li>
	</ul>
	<p>J'éspère que le père mut trouvera votre bonheur à bientôt !</p>
</div><!-- fin modal body -->
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="close()">Fermer</button>
</div><!-- modal-footer -->