<div class="row no-marge">
	<!--<div class="col-lg-3">
		<div class="thumbnail">
			<h2 class="text-center">Lionnel DUPOUY</h2>
			<img src="avatars/t/tapesec.png" alt="photo de tapesec" class="img-circle img-responsive">
			<div class="caption">
				<p>Bonjour à tous,</p>
				<p>Je travaille comme développeur au Service des Systèmes d'Informations de la Sécurité Intérieure et je suis heureux de pouvoir partager avec vous ma passion pour la programmation en créant pour vous cette plateforme d'échange et de contact pour réussir à monter une permutation.
				</p>
				<p>Je suis entré dans la Police Nationale comme vous, il y a une douzaine d'année et je sais à quel point les mutations sont importantes pour tous les collègues que le hasard des affectations ont disperssés aux 4 coins de la France. Si cette plateforme vous permet d'arranger un peu les choses j'en serait tres heureux.</p>
				<p>En attendant notre bon Père Mut' vous souhaite la bienvenue et bonne chance sur notre site à bientôt !</p>
			</div>
		</div>
	</div>-->
	<div class="col-lg-6 thumbnail col-lg-offset-3 col-xs-10 col-xs-offset-1">
		<div class="caption">
			<h2>Comment ça marche ?</h2>
			<p>Inscrivez vous si ce n'est pas déjà fait.</p>
			<p>Derrière cette silhouette rondouillarde et joviale du père mut se cache un algorithme de recherche de permutation possible dans la base de données des utilisateurs inscris et <em>qui ont rempli complètement leur profil</em>.<p>Rendez-vous dans la page <span class="label label-primary"><span class="glyphicon glyphicon-user"></span> Mon profil</span> cliquez sur le bouton <span class="label label-warning"><span class="glyphicon glyphicon-info-sign"></span> à lire absolument</span> lisez bien tout et remplissez votre profil. En haut à droite du formulaire à remplir se trouve une phrase qui vous dira si votre formulaire est valide ou non. Vous pourrez appuyer sur validez uniquement quand les infos nécessaires seront renseignées.</p>
			<p> Le père mut peut trouver des possibilités de permutation bi-partite (vous, avec une autre personne), permutation tri-partite, vous, à la place d'une personne, qui va à la place d'encore une autre, qui prend votre place. Pour finir, quadra-partite (même principe avec 4).</p>
			<p>Il suffit de vous rendre sur la page recherche automatique et d'appuyer sur le bouton trouver un permutant. Si le père mut trouve quelque chose, vous verrez les combinaisons possibles apparaitre ainsi que le pseudo et les informations de toutes les personnes concernées par la permutation avec surtout toutes les adresses email pour vous contacter.</p>
			<p>Le job du père mut s'arrête là pour le moment, c'est à vous de faire la suite, contactez un syndicat ou renseignez vous sur le dossier à monter avec votre ou vos collègues, le plus difficile est fait.</p>
			<h3>Quelques détails techniques</h3>
			<p>Le système de mise en relation reste simple et ne gère pas les particularités des services spéciaux ou des entités comme la Préfecture de Police de Paris.<br>Quand vous renseignez votre lieu de résidence, vous mettez le nom de la ville où vous travaillez et vous rencontrerez peut être des gens en poste dans la ou les villes ou vous souhaitez aller. Seulement, je sais bien qu'à la Prefecture de Police de Paris il y a la DOPC, la DSPAP, la DOSTL, etc.. <br>C'est à vous de regarder et de bien renseigner le nom de votre service avec une description de vos activités pour vérifier que cela peu "coller" entre vous.</p>
			<h3>Conclusion</h3>
			<p>Le père Mut' vous demande dans quelles villes vous voulez travailler mais ne tiendra pas compte des directions, des services ou arrondissements. Le système est idéal pour les commissariats de sécurité publique mais un peu moins pour les cas particuliers. Il reste néanmoins un bon outil pour mettre en relation les collègues en vue d'une permutation. Cette application web a été faite sur le temps libre de vos serviteurs et je sais que vous en tiendrez compte.</p>

		</div>
	</div>
	<!--<div class="col-lg-3">
		<div class="thumbnail">
			<h2 class="text-center">Lionnel DUPOUY</h2>
			<img src="avatars/t/tapesec.png" alt="photo de tapesec" class="img-circle img-responsive">
			<div class="caption">
				<p>Bonjour à tous,</p>
				<p>Je travaille comme développeur au Service des Systèmes d'Informations de la Sécurité Intérieure et je suis heureux de pouvoir partager avec vous ma passion pour la programmation en créant pour vous cette plateforme d'échange et de contact pour réussir à monter une permutation.
				</p>
				<p>Je suis entré dans la Police Nationale comme vous, il y a une douzaine d'année et je sais à quel point les mutations sont importantes pour tous les collègues que le hasard des affectations ont disperssés aux 4 coins de la France. Si cette plateforme vous permet d'arranger un peu les choses j'en serait tres heureux.</p>
				<p>En attendant notre bon Père Mut' vous souhaite la bienvenue et bonne chance sur notre site à bientôt !</p>
			</div>
		</div>
	</div>-->
</div>
