<div class="col-lg-4 col-lg-offset-4">
	<form class="form" name="passwordPerdu" ng-submit="retrivePassword(lost)">
		<div class="form-group well">
		<label><big>Mot de passe perdu ?</big></label>
			<div class="input-group">
				<input type="text" name="inputMail" class="form-control" ng-model="lost.email" required placeholder="Entrez l'adresse mail avec laquelle vous vous êtes inscris">
				<span class="input-group-btn">
					<input class="btn btn-success" type="submit" value="OK">
				</span>
			</div>
		</div>
	</form>
</div>